
.main-container {
    position:relative;
    display:inline-block;
    top:0;
    left:0;
    width:312px;
    height:500;
    border-style: outset;
    border-width: 4px;
    border-color:#5B748F;
    background-color:#664B62;
    border-radius: 8px;
    font: bold 14px helvetica;
    padding:8px;
   
}

.caculator-numbers-1 button {
    display:inline-block;
    width:70px;
    border-style: outset;
    border-width: 4px;
    border-color:#555A76;
    border-radius: 8px;
    background-color:#555A76;
    color:#fff;
    padding:5px;
    font-size:14px;
    
}

.caculator-numbers-2 button {
    display:inline-block;
    width:70px;
    border-style: outset;
    border-width: 4px;
    border-radius: 8px;
    border-color:#555A76;
    background-color:#555A76;
    color:#fff;
    padding:5px;
    font-size:14px;
    
}

.caculator-numbers-3 button{
  display:inline-block;
    width:70px;
    border-style: outset;
    border-radius: 8px;
    border-width: 4px;
    border-color:#555A76;
    background-color:#555A76;
    color:#fff;
    padding:5px;
    font-size:14px;
}
    


.caculator-zero button {
   display:inline-block;
    width:70px;
    border-style: outset;
    border-width: 4px;
    border-radius: 8px;
    border-color:#555A76;
    background-color:#555A76;
    color:#fff;
    padding:5px;
    font-size:14px;
    
    
}


.caculator-numbers-1 {
 margin-left:auto;
 margin-right:auto;
 padding:10px;

}

.caculator-numbers-2 {
 margin-left:auto;
 margin-right:auto;
 padding:10px;
}
.caculator-numbers-3 {
 margin-left:auto;
 margin-right:auto;
 padding:10px;

}

    


#equation {
    display:block;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    border-style: inset;
    border-width: 3px;
    border-color:#555A76;
    background-color:#555A76;
    border-radius: 8px;
    color:#fff;
    padding:5px;
    font-size:14px;
    margin:10px;
}

#result {
    display:block;
    width:90%;
    margin-left:auto;
    border-radius: 8px;
    margin-right:auto;
    border-style: inset;
    border-width: 3px;
    border-color:#555A76;
    background-color:#555A76;
    color:#fff;
    padding:5px;
    font-size:14px;
    margin:10px;
}

.caculator-operators button{
    display:inline-block;
    width:70px;
    border-style: outset;
    border-width: 4px;
    border-radius: 8px;
    border-color:#555A76;
    background-color:#555A76;
    color:#fff;
    padding:5px;
    font-size:20px;
}


.caculator-answer button {
    display:inline-block;
    width:70px;
    border-style: outset;
    border-width: 4px;
    border-color:#555A76;
    border-radius: 8px;
    background-color:#fff;
    color:#555A76;
    padding:5px;
    font-size:20px;
    margin:5px;
}
.caculator-answer {
 margin-left:auto;
 margin-right:auto;
 padding:10px;
    float:right;
}
.caculator-zero {
 margin-left:auto;
 margin-right:auto;
 padding:10px;}
#equals {
    display:inline-block;
    width:70px;
    border-style: outset;
    border-width: 4px;
    border-color:#555A76;
    background-color:#fff;
    color:#555A76;
    padding:5px;
    font-size:20px;
    margin:5px;
}

#c-button {
    display:inline-block;
    width:70px;
    border-style: outset;
    border-width: 4px;
    border-color:#555A76;
    background-color:#fff;
    color:#555A76;
    padding:5px;
    font-size:20px;
    margin:5px;
    
}

.caculator-numbers-1 {
    
}

button:hover {
    background-color: grey;
    border-color:grey;
    
}


